body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    
}

.parallax1 {
    background-image: url('https://th-thumbnailer.cdn-si-edu.com/BNUNX1xJuq93KATbeIuAt2aXOYM=/1026x684/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/25MikeReyfman_Waterfall.jpg'); 
}

.parallax2 {
    background-image: url('https://loveincorporated.blob.core.windows.net/contentimages/gallery/057a7246-793a-4db1-9c0b-6b0c9a7959e7-20-yosemite-valley.jpg');
}

.content {
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

